@import '../../../styles/global.scss';

.mb {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: $base-size * 2;
  padding: 0;
  border: 1px solid red;
}

@media (min-width: 768px) {
  .mb {
    margin: $base-size * 2 0;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .mb {
    margin: $base-size * 2 0;
  }
}

// @media (max-width: 992px) {
// }

// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }