@import "../../../styles/settings.scss";

.default {
  display: block;
  margin: $base-size auto;
  padding: $base-size * 3;
  min-width: 250px; 
  background-color: $color-light;
  border-radius: $radius * 2;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
  transition: $transition-fast;
  h2 {
    font-family: $font-brand;
    font-size: $base-size * 3.5;
    color: $color-main-three;
    line-height: 0.5;
  }
  &:hover {
    color: $color-main-four;
    opacity: 1;
    cursor: pointer;
    transition: $transition-fast;
  }
}

.home {
  @extend .default;
  color: $color-main-three;
  &:hover {
    color: $color-main-four;
  }
}

.word {
  @extend .default;
  display: inline-block;
  margin: $base-size * 0.5;
  padding: $base-size * 1;
  min-width: 0px;
  text-decoration: none;
  color: $color-black;
}

.translate {
  @extend .default;
  padding: $base-size * 2;
  min-width: 0px;
  width: 230px;
  background-color: $color-light;
  text-decoration: none;
  h2 {
    font-family: $font-brand;
    font-size: $base-size * 3;
    color: $color-dark;
    line-height: 0.5;
  }
}

.x {
  @extend .default;
  position: absolute;
  margin: 0;
  padding: $base-size * 0.5 $base-size;
  top: 5px;
  right: 5px;
  min-width: 0px;
  color: $color-dark;
  opacity: 1;
}

.dictionary {
  @extend .default;
  background-color: $color-dark;
  h2 {
    color: $color-dark;
  }
  h3 {
    font-family: $font-brand;
    font-size: $base-size * 2.5;
    color: $color-light;
    line-height: 1;
  }
}

.level {
  @extend .default;
  margin: $base-size * 0.5;
  padding: $base-size * 1.5;
  min-width: 50px; 
  background-color: $color-light;
  h3 {
    color: $color-dark;
  }
}

.level0 {
  background-color: $color-lvl-0;
  border: 2px solid $color-lvl-0;
}

.level1 {
  background-color: $color-lvl-1;
  border: 2px solid $color-lvl-1;
}

.level2 {
  background-color: $color-lvl-2;
  border: 2px solid $color-lvl-2;
}

.like {
  @extend .default;
  margin: 0;
  padding: 0;
  background-color: inherit;
}


@media (min-width: 768px) {
  .home {
    margin: $base-size * 2;
    padding: $base-size * 4;
    min-width: 300px;
    max-width: 400px;
    h2 {
      font-size: $base-size * 5.5;
      line-height: 0.5;
    }
  }
  .translate {
    width: 370px;
  }
}

@media (min-width: 992px) {
  .translate {
    width: 470px;
  }
}

@media (min-width: 1200px) {
  .translate {
    width: 570px;
  }
}

// @media (max-width: 1200px) {
// }

// @media (max-width: 992px) {
// }

// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }