@import '../../../styles/global.scss';

.textArea {
  margin: 0;
  padding: $base-size;
  width: 100%;
  min-height: 370px;
  border: none;
  resize: none;
  font-family: $font-text;
  font-size: $base-size * 2;
  font-weight: 600;
  &:focus {
    border: none;
    outline: none;
  }
}
