@import "../../../styles/settings.scss";

.mainInput {
  display: block;
  margin: $base-size $base-size * 2;
  padding: $base-size * 1.5 0;
  min-width: 250px; 
  background-color: $color-light;
  border: 3px solid transparent;
  border-radius: $radius * 2;
  outline: none;
  text-decoration: none;
  text-align: center;
  font-family: $font-brand;
  font-size: $base-size * 2.5;
  color: $color-main-three;
  opacity: 0.8;
  transition: $transition-fast;
  &:hover {
    color: $color-main-four;
    opacity: 1;
    cursor: pointer;
    transition: $transition-fast;
  }
  &:focus {
    border: 3px solid $color-main-three;
    opacity: 1;
  }
  &::placeholder {
    color: $color-dark;
    opacity: 0.3;
  }
}

.wordInput {
  @extend .mainInput ;
  display: block;
  margin: $base-size 0;
  padding: $base-size * 0.5 0;
  background-color: $color-light;
  min-width: 100px;
  width: 230px;
  font-size: $base-size * 2;
  color: $color-dark;
  &:hover {
    color: $color-dark;
  }
  &::placeholder {
    color: $color-dark;
  }
}

@media (min-width: 768px) {
  .mainInput {
    padding: $base-size * 2 $base-size;
    font-size: $base-size * 3;
  }
  .wordInput {
    padding: $base-size * 0.5 0;
    width: 370px;
    font-size: $base-size * 2;
  }
}

@media (min-width: 992px) {
  .wordInput {
    width: 470px;
  }
}

@media (min-width: 1200px) {
  .wordInput {
    width: 570px;
  }
}

