@import '../../../styles/global.scss';

.lf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: $base-size * 2;
  padding: 0;
}

.lfRow {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .lf {
    margin: $base-size * 2 0;
    justify-content: center;
  }
  .lfRow {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .lf {
    margin: $base-size * 2 0;
  }
}
