@import '../../../styles/global.scss';

.textConverted {
  position: relative;
  margin: 0;
  padding: $base-size;
  width: 100%;
  min-height: 370px;
  border: none;
  resize: none;
  font-family: $font-text;
  font-size: $base-size * 2;
  font-weight: 600;
  color: $color-black;
  z-index: 1000;
  &:focus {
    border: none;
    outline: none;
  }
}

.textConvertedWord {
  // position: relative;
  display: inline;
}

// @media (max-width: 1200px) {
// }

// @media (max-width: 992px) {
// }

// @media (max-width: 768px) {
// }

// @media (max-width: 576px) {
// }