@import '../../../styles/global.scss';

.tw {
  position: relative;
  margin: $base-size * 2;
  padding: 0;
  border: 5px solid $color-white;
  border-radius: $radius * 2;
  background-color: $color-white;
  opacity: 0.8;
  z-index: 100;
}

@media (min-width: 1200px) {
  .tw {
    margin: $base-size * 2 0;
  }
}
